{% extends 'base.html' %}

{% block contenido %}


<script>
  function eliminarProfesional(rut)
  {
    Swal.fire({
      "title": "Advertencia",
      "text": "¿Esta seguro que desea eliminar a un profesional?",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, cancelar",
      "confirmButtonText":"Si, eliminar"
    }).then(function(result){

      if(result.isConfirmed)
      {
        window.location.href="/eliminar_profesional/"+rut+"/";
      }

    })
  }
</script>

<div class="container mt-5">
    <div class="text-center">
      <h2 class="mt-4">Listar profesionales</h2>  
    </div>
    <a href="{% url 'agregar_profesional' %}" class="btn btn-primary btn-sm" >Agregar nuevo profesional </a>



<table class="table">
    <thead>
      <tr>
        <th scope="col">Rut</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">¿Es especialista?</th>
        <th scope="col"> Opciones </th>
      </tr>
    </thead>
    <tbody>
        {% for p in profesionales %}
      <tr>
        <th scope="row">{{p.rut}}</th>
        <td>{{p.nombre}}</td>
        <td>{{p.apellido}}</td>
        <td>
            {% if p.especialista %}
                SI
            {% else %}
                NO
            {% endif %}
        </td>
        <td>
          <a href="{% url 'modificar_profesional' p.rut %}" class="btn btn-success btn-sm" >Modificar </a>
          <a href="#" onclick="eliminarProfesional('{{p.rut}}')" class="btn btn-danger btn-sm" >Eliminar </a>

        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>
  {% endblock %}