{% extends 'base.html' %}
{% load static %}

{% block contenido %}
<script>
  function filtrar(observacion)
  {
      window.location.href="/atencionesAprobadas?id_cat="+$('#filter_cat').val();
  }
</script>
<figure class="figure">
  <img src="{% static './imagen/fotoCategoria.jpeg'%}" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption"></figcaption>
</figure>

<div class="container" style="margin-top: 50px">
  <center><h2>Nuestras atenciones</h2></center>
  
    <br>
    <br>
    
    <br>
    <br>

  <div id="profesionales_excelencia" class="row">
    <div class="cont-profesionales col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="cont-listado row">
        {% for p in aten %}
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 text-center">
          <div class="prof int">
            <figure>
              
              <a href="{% url 'Inform_atenciones' p.id_atencion %}">            
                {% if p.fotografia %}
                <img width="270" height="350"
                  src="{{p.fotografia.url}}"
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy">
                {% else %}
                  <img width="270" height="350"
                  src=""
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy">
                {% endif%}      
                </a>
                <ul class="list-group">
                  <li class="list-group-item">Id Atencion:{{p.id_atencion}}</li>
                  <li class="list-group-item">Modelo:{{p.Modelo}}</li>
                  <li class="list-group-item">Categoria:{{p.categoria}}</li>
                </ul>
              
            </figure>
            <br>
            <br>

            
          </div>
        </div>
        
        {% endfor %}

        <section>

          <a class="btn btn-secondary btn" href="{% url 'servicio'%}" role="button">Volver</a>
          <div class="contacto my-5">
            <img src="{% static './imagen/dato.png'%}" alt="">
          </div>
        </section>
    




    </div>
  </div>
</div>
{% endblock %}