{% extends 'base.html' %}

{% block contenido %}

<script>var motivoRechazo = localStorage.getItem('motivoRechazo');</script>



<div class="container mt-5">
    <div class="text-center">
      <h2 class="mt-4">Estado de atenciones </h2>  
    </div>
   



<table class="table">
    <thead>
      
      <tr>
        <th scope="col"> usuario </th>
        <th scope="col">fecha</th>
        <th scope="col">monto</th>
        <th scope="col">Estado</th>
        <th scope="col">Modelo</th>
        <th scope="col">categoria</th>
        <th scope="col"> observacion </th>
        <th scope="col"> fotografia </th>
        <th scope="col"> Motivo de rechazo </th>
        <th scope="col"> Opciones </th>
      </tr>
    </thead>
    <tbody>
        {% for p in rechazado %}
      <tr>
        <td>{{p.usuario}}</td>
        <td>{{p.fecha}}</td>
        <td>{{p.monto}}</td>
        <td>{{p.Estado}}</td>
        <td>{{p.Modelo}}</td>
        <td>{{p.categoria}}</td>
        <th scope="row">{{p.observacion}}</th>
        <td>
          {% if p.fotografia %}
                <img width="50" height="50"
                  src="{{p.fotografia.url}}"
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy">
                {% else %}
                  <img width="270" height="350"
                  src=""
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy">
                {% endif%}      
        </td>
       <td>{{p.motivoRechazo}}</td>
                
        
        <td>
            <a href="{% url 'modificar_atencion' p.id_atencion %}" class="btn btn-success btn-sm" >Modificar </a>

        </td>
      </tr>
      
      {% endfor %}
      {% for p in pendientes %}
      <tr>
        <td>{{p.usuario}}</td>
        <td>{{p.fecha}}</td>
        <td>{{p.monto}}</td>
        <td>{{p.Estado}}</td>
        <td>{{p.Modelo}}</td>
        <td>{{p.categoria}}</td>
        <th scope="row">{{p.observacion}}</th>
        <td>
          {% if p.fotografia %}
                <img width="50" height="50"
                  src="{{p.fotografia.url}}"
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy">
                {% else %}
                  <img width="270" height="350"
                  src=""
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy">
                {% endif%}      
        </td>
        {% endfor %}
    </tbody>
  </table>
  <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás"
    value="volver atrás"></center>
</div>
  {% endblock %}