{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('#formPostulante').addEventListener('submit', function(event) {
      event.preventDefault(); // Evita el envío del formulario
      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Formulario Enviado',
        showConfirmButton: false,
        timer: 1500
      }).then(function() {
        event.target.submit(); // Envía el formulario después de mostrar el mensaje
      });
    });
  });
</script>



<div class="container mt-5">
  <div class="text-center">
    <h2 class="mt-4">Formulario de postulación</h2>  
  </div>
  <form id="formPostulante" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <figcaption class="blockquote-footer">
        <cite title="Source Title">Debes Agregar Curriculum Vitae</cite>
      </figcaption>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="reset" class="btn btn-danger">Limpiar</button>
    <center><input type="button" class="btn btn-secondary btn" onclick="history.back()"
      name="volver atrás" value="volver atrás"></center>


      

</form>
{{mensaje}}
</div>

{% endblock %}