{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}




<div class="container mt-5">
  <div class="text-center">
    <h2 class="mt-4">Formulario de postulación</h2>  
  </div>
  <form id="formPostulante" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <figcaption class="blockquote-footer">
        <cite title="Source Title">Debes Agregar Curriculum Vitae</cite>
      </figcaption>
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="reset" class="btn btn-danger">Limpiar</button>
    <a class="btn btn-secondary btn" href="{% url 'principal'%}" role="button">Salir</a>


      

</form>
{{mensaje}}
</div>

{% endblock %}