{% extends 'base.html' %}

{% block contenido %}


<script>
  function eliminarpostulante(id_postulante)
  {
    Swal.fire({
      "title": "Advertencia",
      "text": "¿Esta seguro que desea eliminar esta postulación?",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, cancelar",
      "confirmButtonText":"Si, eliminar"
    }).then(function(result){

      if(result.isConfirmed)
      {
        window.location.href="/eliminar_postulante/"+id_postulante+"/";
      }

    })
  }
</script>

<div class="container mt-5">
    <div class="text-center">
      <h2 class="mt-4">Lista Postulantes</h2>  
    </div>
   

<br>
<br>


<table class="table">
    <thead>
      <tr>
        <th scope="col"> Nombre </th>
        <th scope="col">Apellido</th>
        <th scope="col">Cargo al que postula</th>
        <th scope="col">Experiencia </th>
        <th scope="col"> Opciones </th>
      </tr>
    </thead>
    <tbody>
        {% for p in postulantes %}
      <tr>
        <td>{{p.nombre}}</td>
        <td>{{p.apellido}}</td>
        <td>{{p.cargo_postulacion}}</td>
        <td>{{p.experiencia}}</td>
        
        
        <td>
          <a href="{% url 'Inform_postulante' p.id_postulante %}" class="btn btn-success btn-sm" >Ver Información </a>
          <a href="#" onclick="eliminarpostulante('{{p.id_postulante}}')" class="btn btn-danger btn-sm" >Eliminar </a>


        </td>
      </tr>
  
      {% endfor %}
      
    </tbody>
  </table>
  <a class="btn btn-secondary btn" href="{% url 'tareasadministrador'%}" role="button">Volver</a>
</div>
  {% endblock %}