{% extends 'base.html' %}

{% block contenido %}


<script>
  function eliminarAtencion(observacion) {
  Swal.fire({
    title: 'Ingrese el motivo del rechazo',
    input: 'text',
    inputAttributes: {
      autocapitalize: 'off'
    },
    showCancelButton: true,
    cancelButtonText: "No, cancelar",
    confirmButtonText: "Si, rechazar"
  }).then(function(result) {
    if (result.isConfirmed) {
      var motivoRechazo = Swal.getInput().value;
      localStorage.setItem('motivoRechazo', motivoRechazo);
      window.location.href = "/eliminar_atencion/" + observacion + "/";
    }
  });
}
var motivoRechazo = localStorage.getItem('motivoRechazo');
// Utiliza el valor de motivoRechazo en la vista según sea necesario


  function aprobarAtencion(observacion)
  {
    Swal.fire({
      "title": "Advertencia",
      "text": "¿Esta seguro que deseas publicar esta atención?",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, cancelar",
      "confirmButtonText":"Si, publicar"
    }).then(function(result){

      if(result.isConfirmed)
      {
        
        window.location.href="/aprobar_atencion/"+observacion+"/";
      }

    })
  }
</script>

<div class="container mt-5">
    <div class="text-center">
      <h2 class="mt-4">Listar Atenciones</h2>  
    </div>
   



<table class="table">
    <thead>
      <tr>
        <th scope="col"> usuario </th>
        <th scope="col">fecha</th>
        <th scope="col">monto</th>
        <th scope="col">Modelo</th>
        <th scope="col">categoria</th>
        <th scope="col"> observacion </th>
        <th scope="col"> fotografia </th>
        <th scope="col"> Opciones </th>
      </tr>
    </thead>
    <tbody>
        {% for p in aten %}
      <tr>
        <td>{{p.usuario}}</td>
        <td>{{p.fecha}}</td>
        <td>{{p.monto}}</td>
        <td>{{p.Modelo}}</td>
        <td>{{p.categoria}}</td>
        <th scope="row">{{p.observacion}}</th>
        
        <td>
          {% if p.fotografia %}
                <img width="50" height="50"
                  src="{{p.fotografia.url}}"
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy">
                {% else %}
                  <img width="270" height="350"
                  src=""
                  class="img-responsive wp-post-image" alt="" decoding="async" loading="lazy">
                {% endif%}      
        </td>
        
                </a>
        
        <td>
          <a href="#" onclick="aprobarAtencion('{{p.observacion}}')"  class="btn btn-success btn-sm" >Aprobar </a>
          <a href="#" onclick="eliminarAtencion('{{p.observacion}}')" class="btn btn-danger btn-sm" >Rechazar </a>
          


        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás"
    value="volver atrás"></center>
</div>
  {% endblock %}