{% extends 'base.html' %}

{% block contenido %}

<script>
  function eliminarMensaje(id_contacto)
  {
    Swal.fire({
      "title": "Advertencia",
      "text": "¿Esta seguro que desea eliminar este mensaje?",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, cancelar",
      "confirmButtonText":"Si, eliminar"
    }).then(function(result){

      if(result.isConfirmed)
      {
        window.location.href="/eliminar_mensaje/"+id_contacto+"/";
      }

    })
  }
</script>



<div class="container mt-5">
    <div class="text-center">
      <h2 class="mt-4">Mensajes Recibidos</h2>  
    </div>
   <br>
   <br>
<table class="table">
    <thead>
      
      <tr>
        <th scope="col"> Nombre </th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono Contacto</th>
        <th scope="col">Tipo Mensaje</th>
        <th scope="col">Mensaje</th>
       
      </tr>
    </thead>
    <tbody>
        {% for p in contactos %}
      <tr>
        <td>{{p.nombre}}</td>
        <td><a href="mailto:{{ p.email }}">{{ p.email }}</a</td>
        <td>{{p.telefono}}</td>
        <td>{{p.get_tipo_contacto_display}}</td>
        <td>{{p.mensaje}}</td>
        
        
        
                
        
        <td>
          <a href="#" onclick="eliminarMensaje('{{p.id_contacto}}')" class="btn btn-danger btn-sm" >Eliminar </a>

        </td>
      </tr>
      {% endfor %}
      
    </tbody>
  </table>
  <a class="btn btn-secondary btn" href="{% url 'tareasadministrador'%}" role="button">Volver</a>
</div>
  {% endblock %}