{% extends 'base.html' %}

{% block contenido %}


<script>
  function eliminarAtencion(id_atencion) {
  Swal.fire({
    title: 'Ingrese el motivo del rechazo',
    input: 'text',
    inputAttributes: {
      autocapitalize: 'off'
    },
    showCancelButton: true,
    cancelButtonText: "No, cancelar",
    confirmButtonText: "Si, rechazar"
  }).then(function(result) {
    if (result.isConfirmed) {
      window.location.href = "/eliminar_atencion/" + id_atencion + "?motivo_rechazo="+result.value;
    }
  });
}
// Utiliza el valor de motivoRechazo en la vista según sea necesario


  function aprobarAtencion(id_atencion)
  {
    Swal.fire({
      "title": "Advertencia",
      "text": "¿Esta seguro que deseas publicar esta atención?",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, cancelar",
      "confirmButtonText":"Si, publicar"
    }).then(function(result){

      if(result.isConfirmed)
      {
        
        window.location.href="/aprobar_atencion/"+id_atencion+"/";
      }

    })
  }
</script>

<div class="container mt-5">
    <div class="text-center">
      <h2 class="mt-4">Lista Postulantes</h2>  
    </div>
   

<br>
<br>


<table class="table">
    <thead>
      <tr>
        <th scope="col"> Nombre </th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Edad</th>
        <th scope="col">Cargo al que postula</th>
        <th scope="col">CV </th>
        
        <th scope="col"> Opciones </th>
      </tr>
    </thead>
    <tbody>
        {% for p in postulantes %}
      <tr>
        <td>{{p.nombre}}</td>
        <td>{{p.apellido}}</td>
        <td><a href="mailto:{{ p.email }}">{{ p.email }}</a></td>
        <td>{{p.edad}}</td>
        <td>{{p.cargo_postulacion}}</td>
        <td><a href="{{ p.cv.url }}">Descargar CV</a></td>
        
        
        <td>
          <a href="#" onclick="aprobarAtencion('{{p.id_atencion}}')"  class="btn btn-success btn-sm" >Aprobar </a>
          <a href="#" onclick="eliminarAtencion('{{p.id_atencion}}')" class="btn btn-danger btn-sm" >Rechazar </a>
          


        </td>
      </tr>
  
      {% endfor %}
      
    </tbody>
  </table>
  <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás"
    value="volver atrás"></center>
</div>
  {% endblock %}