{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('#formAtencion').addEventListener('submit', function(event) {
      event.preventDefault(); 
      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: 'Atencion Modificada',
        showConfirmButton: false,
        timer: 1500
      }).then(function() {
        event.target.submit(); 
      });
    });
  });
</script>

<div class="container mt-5">
  <div class="text-center">
    <h2 class="mt-4">Modificar Atención</h2>  
    {{mensaje}}
  </div>
  <form id="formAtencion" method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Modificar</button>
    <button type="reset" class="btn btn-danger">Limpiar</button>
    <center><input type="button" class="btn btn-secondary btn" onclick="history.back()"
      name="volver atrás" value="volver atrás"></center>

</form>
{{mensaje}}
</div>

{% endblock %}