{% extends 'base.html' %}
{% load static %}

{% block contenido %}

    <div class="container-fluid">
      <h2 class="text-center my-5 fw-light">Nuestro Equipo</h2>
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static './imagen/cuatro.jpeg'%}" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Camila Figueroa</h5>
              <p class="card-text">Mecánica General</p>
              <a href="{% url 'perfilMecCamila'%}" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static './imagen/seis.jpeg'%}" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sofía Martinez</h5>
              <p class="card-text">Mecánica Motores.</p>
              <a href="{% url 'perfilmecSofia'%}" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static './imagen/cinco.jpeg'%}" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pamela Carrasco</h5>
              <p class="card-text">Mecánica de Chapa y Pintura.</p>
              <a href="{% url 'perfilMecPamela'%}" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <br>
      <br>
      <div class="row">
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static './imagen/uno.jpg'%}" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Juan Martinez</h5>
              <p class="card-text">Mecánico de Electricidad Automotriz.</p>
              <a href="{% url 'perfilmecJuan'%}" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static './imagen/dos.jpeg'%}" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mario Toncozo</h5>
              <p class="card-text">Mecánico General.</p>
              <a href="{% url 'perfilMecMario'%}" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <img src="{% static './imagen/tres.jpeg'%}" class="img-fluid" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pedro Mondaca</h5>
              <p class="card-text">Mecánico de Motores.</p>
              <a href="{% url 'perfilMecPedro'%}" class="btn btn-primary"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section>
      <br>
      <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás" value="volver atrás"></center>
      <div class="contacto my-5">
        <img src="imagen/dato.png" alt="">
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
      
</body>

</html>
{% endblock %}