{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <div class="row " id="menu">
        <div class="col-md-6 p-3">
            <h4> ACERCA DE NUESTROS PRFESIONALES </h4>
            <br>
            <br>
            <p>
                
                <b>Nombre:</b> Camila Figueroa
                <br>
                <br>
                <b>Título profesional :</b> Mecánica General
                <br>
                <br>
            
                <b>Resumen profesional:</b>
                Camila Figueroa es una mecánica general con tres años de experiencia en el campo automotriz.
                 Experta en diagnóstico, mantenimiento y reparación de vehículos de diferentes marcas y modelos.
                  Destaca por su habilidad para solucionar problemas mecánicos de manera eficiente y brindar un
                   excelente servicio al cliente.
                
                
                
                
                <br>
                <br>
                <b>Habilidades destacadas:</b>
                
                
                <li>Diagnóstico y reparación de problemas mecánicos en vehículos.</li>
                <li>Mantenimiento programado y reparación de sistemas mecánicos.</li>
                <li>Utilización de herramientas y equipos especializados.</li>
                <li>Interacción con clientes para garantizar su satisfacción y explicar las reparaciones necesarias.</li>
                <li>Atención meticulosa al detalle.</li>
                  
            </p>
            <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás" value="volver atrás"></center>
            <div>
                <img src="{% static './imagen/dato.png'%}" style="float: left">
                <p></p>
            </div>
        </div>
        <!--- Contenido -->
        <div class="col-md-6 p-3">
            <form class="row">
                <div>
                    <img src="{% static './imagen/cuatro.jpeg'%}" style="float: left">
                    <p></p>
                </div>
                
            </form>

        </div>
       
    </div>
    {% endblock %}