{% extends 'base.html' %}
{% load static %}

{% block contenido %}
    <div class="row " id="menu">
        <div class="col-md-6 p-3">
            <h4> ACERCA DE NUESTROS PRFESIONALES </h4>
            <br>
            <br>
            <p>
                
                <b>Nombre:</b> Mario Troncozo
                <br>
                <br>
                <b>Título profesional :</b> Mecánico General
                <br>
                <br>
            
                <b>Resumen profesional:</b>
                Mario Troncozo es un mecánico general con seis años de 
                experiencia en el campo automotriz. Experto en diagnóstico,
                 mantenimiento y reparación de vehículos de diferentes marcas
                  y modelos. Destacado por su habilidad para solucionar problemas mecánicos de 
                  manera eficiente y brindar un excelente servicio al cliente.
                
                <br>
                <br>
                <b>Habilidades destacadas:</b>
                
                
                <li>Amplio conocimiento en diagnóstico y reparación de sistemas mecánicos de vehículos.</li>
                <li>Uso de herramientas y equipos especializados.</li>
                <li>Capacidad para trabajar de manera eficiente y efectiva.</li>
                <li>Excelentes habilidades de comunicación con los clientes.</li>
                <li>Atención meticulosa al detalle.</li>
                  
            </p>
            <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás" value="volver atrás"></center>
            <div>
                <img src="{% static './imagen/dato.png'%}" style="float: left">
                <p></p>
            </div>
        </div>
        <!--- Contenido -->
        <div class="col-md-6 p-3">
            <form class="row">
                <div>
                    <img src="{% static './imagen/dos.jpeg'%}" style="float: left">
                    <p></p>
                </div>
                
            </form>

        </div>
       
    </div>
    {% endblock %}