{% extends 'base.html' %}
{% load static %}

{% block contenido %}

    <div class="row " id="menu">
        <div class="col-md-6 p-3">
            <h4> ACERCA DE NUESTROS PRFESIONALES </h4>
            <br>
            <br>
            <p>
                
                <b>Nombre:</b>  Juan Martínez
                <br>
                <br>
                <b>Título profesional :</b> Mecánico de Electricidad Automotriz


                <br>
                <br>
            
                <b>Resumen profesional:</b>
                Juan Martínez es un mecánico especializado en electricidad automotriz,
                 con tres años de experiencia en el campo. Durante su tiempo en el taller, 
                 ha demostrado habilidades sólidas en el diagnóstico y reparación de sistemas 
                 eléctricos de vehículos. Es conocido por su conocimiento técnico, capacidad 
                 para solucionar problemas eléctricos de manera efectiva y brindar un excelente servicio al cliente.

                <br>
                <b>Habilidades destacadas:</b>
            
                <li>Amplio conocimiento en diagnóstico y reparación de sistemas eléctricos de vehículos.</li>
                <li>Experiencia en el uso de herramientas y equipos especializados 
                    para el diagnóstico y la solución de problemas eléctricos.</li>
                <li>Capacidad para trabajar de manera precisa y meticulosa en el manejo de cables y conexiones eléctricas.</li>
                <li>Excelentes habilidades de comunicación para explicar problemas y soluciones eléctricas a los clientes.</li>
                <li>Orientación al detalle y capacidad para seguir procedimientos técnicos y de seguridad.</li>
                  
            </p>
            <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás" value="volver atrás"></center>
            <div>
                <img src="{% static './imagen/dato.png'%}" style="float: left">
                <p></p>
            </div>
        </div>
        <!--- Contenido -->
        <div class="col-md-6 p-3">
            <form class="row">
                <div>
                    <img src="{% static './imagen/uno2.jpeg'%}" style="float: left">
                    <p></p>
                </div>
                
            </form>

        </div>
       
    </div>
    {% endblock %}