<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Taller Mecánico Ensigna </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
    integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
    crossorigin="anonymous"></script>
  <script src="js/jquery-3.6.4.min.js"></script>
  <script src="js/validaciones.js"></script>

</head>

<body>

  <!--- Logo-->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
      <nav class="navbar bg-body-tertiary">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="imagen/logotaller.jpg" alt="logotaller" width="100" height="80">
          </a>
        </div>
      </nav>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--- Menu parte superior-->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="principal.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="servicio.html">
              Servicio
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="sesion.html">
              Sesión
            </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>

  <!--- Formulario-->

  <div class="container">
    <h2 class="text-center my-5 fw-light">Formulario de registro de mecánicos</h2>

    <form class="row" action="#" enctype="application/x-www-form-urlencoded" method="POST" id="formRegistroMecanico"
      novalidate>
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required>
        <div class="valid-feedback"> Correcto</div>
        <div class="invalid-feedback"> nombre debe ser en tre 2 y 20 caracteres</div>
      </div>
      <br>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" id="apellido" name="apellido" required>
        <div class="valid-feedback"> Correcto</div>
        <div class="invalid-feedback"> Debe tener entre 2 y 20 caracteres</div>
      </div>
      <br>
      <div class="form-group">
        <label for="email">Correo electrónico:</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <div class="valid-feedback"> Correcto</div>
        <div class="invalid-feedback"> Correo inválido</div>
      </div>
      <br>
      <div class="form-group">
        <label for="rut">Rut</label>
        <input type="email" class="form-control" id="rut" name="rut" required>
        <div class="valid-feedback"> Correcto</div>
        <div class="invalid-feedback"> Debe tenr entre 9 y 10 caracteres</div>
      </div>
      <br>
      <div class="form-group">
        <label for="especialidad">Especialidad:</label>
        <select class="form-control" id="especialidad" name="especialidad" required>
          <option value="">Seleccione una opción</option>
          <option value="mecánica general">Mecánica General</option>
          <option value="mecánica de motores">Mecánica de Motores</option>
          <option value="electricidad del automóvil">Electricidad del Automóvil</option>
          <option value="chapa y pintura">Chapa y Pintura</option>
          <div class="valid-feedback"> Correcto</div>
          <div class="invalid-feedback"> Debe seleccionar una opcion</div>
        </select>
      </div>
      <br>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" class="form-control" id="password" name="password" required>
        <div class="valid-feedback"> Correcto</div>
        <div class="invalid-feedback"> Debe ingresar una contraseña</div>
      </div>
      <br>
      <center><a href=""><button type="submit" class="btn btn-primary">Registrar</button></a></center>
      <br>
      <br>
      <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás"
          value="volver atrás"></center>
      <br>
      <br>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
<script>

  $(document).ready(function () {

    //alert("JQUERY OK");
    $("#formRegistroMecanico").submit(function (event) {

      event.preventDefault();
      var nombre = $("#nombre").val();
      var apellido = $("#apellido").val();
      var rut = $("#rut").val();

      //validar nombre
      if (!validarLargoNombre(nombre)) {
        alert("El largo del Nombre debe ser entre 2 y 20 caracteres");
        $("#nombre").addClass("is-invalid");
        $("#nombre").removeClass("is-valid");
      }
      else {
        $("#nombre").addClass("is-valid");
        $("#nombre").removeClass("is-invalid");
      }

      //validar apellido
      if (!validarLargoApellido(apellido)) {
        alert("El largo del apellido debe ser entre 2 y 20 caracteres");
        $("#apellido").addClass("is-invalid");
        $("#apellido").removeClass("is-valid");
      }
      else {
        $("#apellido").addClass("is-valid");
        $("#apellido").removeClass("is-invalid");
      }

      //Validar correo
      var regex = /[\w-\.]{2,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/;

      if (regex.test($("#email").val().trim())) {
        $("#email").addClass("is-valid");
        $("#email").removeClass("is-invalid");
      } else {
        alert('La direccón de correo no es válida');
        $("#email").addClass("is-invalid");
        $("#email").removeClass("is-valid");
      }

      //validar rut
      if (!validarLargoRut(rut)) {
        alert("El largo del Nombre debe ser entre 9 y 10 caracteres");
        $("#rut").addClass("is-invalid");
        $("#rut").removeClass("is-valid");
      }
      else {
        $("#rut").addClass("is-valid");
        $("#rut").removeClass("is-invalid");
      }

      //validar especialidad
      if ($("#especialidad").val() == "") {
        alert("Debe seleccionar una opción");
        $("#especialidad").addClass("is-invalid");
        $("#especialidad").removeClass("is-valid");
      }
      else {
        $("#especialidad").addClass("is-valid");
        $("#especialidad").removeClass("is-invalid");
      }

      //Validar contraseña vacia
      if ($("#password").val() == "") {
        alert("Debe ingresar su contraseña ");
        $("#password").addClass("is-invalid");
        $("#password").removeClass("is-valid");
      }
    else{
       
        $("#password").addClass("is-valid");
        $("#password").removeClass("is-invalid");
        
      }
     
    });

  });
</script>