
{% extends 'base.html' %}
{% load static %}

{% block contenido %}
      <!--- Nuestros servicios-->
      <figure class="figure">
        <img src="{% static './imagen/servicioFoto.jpeg'%}" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption"></figcaption>
    </figure>

      
    <div class="container-fluid">
      <h2 class="text-center my-5 fw-light">Nuestro Servicios</h2>
      <div class="row">
        <div class="text-center col-6">
          <center><div class="card" style="width: 28rem;">
            <img src="{% static './imagen/mecanico.jpeg'%}" class="img-fluid" alt="...">
            <div class="card-body">
              <a href="{% url 'pagmecanicos'%}" class="btn btn-primary">Mecánicos</a>
            </div>
          </div></center>
        </div>
        <div class="text-center col-6">
          <center> <div class="card" style="width: 28rem;">
            <img src="{% static './imagen/servicio.jpeg'%}" class="img-fluid" alt="...">
            <br>
            <div class="card-body">
              <a href="{% url 'lista_atenciones_aprobadas' %}" class="btn btn-primary">Atenciones</a>
            </div>
          </div></center>
         
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <br>
      <br>
    </div>
    <br>
    <br>
    <center><input type="button" class="btn btn-secondary btn" onclick="history.back()" name="volver atrás" value="volver atrás"></center>
    <br>

    <section>
      <div class="contacto my-5">
        <img src="{% static './imagen/dato.png'%}" alt="">
      </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"></script>
</body>

</html>
{% endblock %}