{% extends 'base.html' %}
{% load static %}

{% block contenido %}

  <figure class="text-center">
    <blockquote class="blockquote">
      <p>
      <h1>Mecánicos</h1>
      </p>
    </blockquote>
    <figcaption class="blockquote-footer">
      <cite title="Source Title">Interfaz de gestion para Mecánicos</cite>
    </figcaption>
    <br>
    <br>
    
  </figure>
  <div class="container text-center">
    <div class="row align-items-start">
      
     
      <div class="col">
        <a href="{% url 'atencion'%}" class="btn btn-primary btn-lg" >Publicar Atención </a>
      </div>
      <div class="col">
        <a href="{% url 'lista_atencion_rechazada'%}" class="btn btn-primary btn-lg" >Ver estado </a>

      </div>
      
      
      <br>
      <br>
      <div><a class="btn btn-secondary btn" href="{% url 'sesion'%}" role="button">Volver</a></div>
      
     
  </div>

</body>

</html>
{% endblock %}